/* CONTEÚDOS GENÉRICOS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 550;
}

:root {
    /* Cores baseadas no documento de identidade visual do Senai. */
    --destaque: #164194;
    --branco: #ffff;
    --preto: #000000;
    --cinza: #878787;

    --sombra-padrao: rgba(0, 0, 0, 0.16) 0px 1px 6px;

    /* Tamanho dos Botões de ícones no header */

    --header-icon-size: 36px;
}

button {
    transition: all .3s ease;
}

button:hover {
    scale: 1.02;
}

button:active {
    scale: 0.98;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

.header-red-container {
    position: relative;
    background-color: var(--destaque);
    z-index: 10;
    width: 100vw;
    display: flex;
    height: 35px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.header-red-container a {
    text-decoration: none;
    font-weight: 550;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: var(--branco);
}

.header-red-container a>button {
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    width: 100%;
    color: var(--branco);
}

.header-red-container>button,
.header-white-container>button {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.hamburger-menu {
    display: flex;
    color: var(--branco);
    display: none;
    align-items: center;
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;
}

.hamburger-menu {
    display: flex;
    color: var(--branco);
    display: block;
    background-color: transparent;
    border: none;
    align-items: center;
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;

}

.header-white-container {
    position: relative;
    background-color: var(--branco);
    box-shadow: var(--sombra-padrao);
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;

}

.return-button {
    position: absolute;
    display: none;
    left: calc(1% - 5px);
}


.senai-logo {
    height: var(--header-icon-size);
}

nav {
    color: var(--branco);
    text-decoration: none;
    position: absolute;
    top: 35px;
    width: 15rem;
    padding: 20px 10px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
    box-shadow: rgba(0, 0, 0, 0.24) 4px 4px 4px;
    background-color: var(--destaque);
    transition: all .3s ease-in;
    transform: translateX(-100%);
}

nav.active {
    transform: translateX(0%);
}

nav a {
    color: inherit;
    font-size: 1.4em;
    text-align: left;
    width: 100%;
}

nav a button {
    color: inherit;
    font-size: 1em;
    border: none;
    background: none;
    padding: 0;
}

main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

/* Inserindo a imagem de fundo*/
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../backgrounds/senai-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.2;
    z-index: -1;
}

.carteirinha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    border: 2px solid #7d85ff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--branco);
    padding: 25px 10px;
    scale: 0.85;
}

.carteirinha .top-inf h4 {
    font-size: clamp(1em, 1vw + .6em, 2em);
}

.carteirinha .top-inf {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 20px;
    width: 95%;
}

.carteirinha .top-inf span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--destaque);
}

.carteirinha .top-inf span h3 {
    font-weight: 700;
    text-align: center;
    font-size: 1.8em;
}

.carteirinha .top-inf span h4 {
    text-align: center;
    font-size: 1.5em;
}

.carteirinha .top-inf .senai-logo {
    height: 30px;
}

.carteirinha .top-inf .pfp {
    height: 140px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    box-shadow: var(--sombra-padrao);
    border: 2px solid var(--destaque);
}

.bottom-inf {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.bottom-inf .info-collumn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    gap: 3rem;
}

.bottom-inf .info-collumn:nth-child(1) {
    align-items: flex-start;
}

.bottom-inf .info-collumn:nth-child(2) {
    align-items: flex-end;
}

.bottom-inf .info-collumn h5 {
    font-size: clamp(0.8em, 1.5vw + 0.5em, 1.2em);
    /* Tamanho responsivo */
}

.bottom-inf .info-collumn h4 {
    font-size: clamp(1em, 2vw + 0.5em, 1.2em);
    /* Tamanho responsivo */
}

.carteirinha .curso {
    margin-top: 2rem;
    font-size: clamp(1.5em, 2.5vw + 1em, 2em);
    /* Tamanho responsivo */
    text-align: center;
}

.carteirinha .bottom-inf .info-collumn:nth-child(2) .info-group:nth-child(2) {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.selo {
    width: 60%;
}

.acess {
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 30em; */
    width: 100%;
    max-width: 450px;
    top: -20px;
    width: 100%;
    max-width: 450px;
}

.acess>button {
    width: 100%;
    border-radius: 9px;
    font-size: clamp(1.5em, 2.5vw + 1em, 2em);
    border: none;
    padding: 20px;
    background-color: var(--destaque);
    color: var(--branco);
    scale: 0.85;
}

.popup {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    /* height: 31em; */
    /* aspect-ratio: 1/1; */
    background-color: var(--branco);
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px, 30px;
    color: var(--preto);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 10;
}

.open-popup {
    visibility: visible;
    top: -25em;
    transform: translate(-50%, -50%) scale(1);

}

.popup img {
    box-sizing: content-box;
    padding: 30px;
    max-width: 100vw;
    align-items: center;
    text-align: center;
    width: 60%;
}

.popup i {
    background-color: #cccccc;
    font-size: 2.5em;
}

.popup hr {
    width: 100%;
    background-color: var(--cinza);
}

.popup div {
    padding: inherit;
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}

.popup div span {
    color: var(--destaque);
}

.close-access i {
    background-color: transparent;
    color: var(--cinza);
    font-size: 3em;
}

.escurecer-tela.active {
    z-index: 7;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);
}